:root{
    --element-color:#8338D1;        /*[131,56,209]*/
    --selection-color:#CBC0EB;      /*[203,192,235]*/
    --background-color:#EBE8F7;     /*[235,232,247]*/
    --border-color: #836AD1;        /*[131,106,209]*/
    
}


#about_frame{
    max-width:600px;
    margin: 30px auto;
    border: 1px solid rgb(131,106,209,0.4);
    border-right-color: rgb(131,106,209,0.6);
     border-bottom-color: rgb(131,106,209,0.6);
    border-radius: 10px;
    box-shadow: 8px 8px 5px var(--background-color);
    padding: 30px 30px;
    text-align: center;
    margin-top: 70px;
}

h1,h4,small{
    color: var(--element-color);
    font-family: Century Gothic; 
}

h1,h4{
    font-weight: bold;
}

h4{
    margin-top: 15px;
}
