:root{
    --element-color:#8338D1;        /*[131,56,209]*/
    --selection-color:#CBC0EB;      /*[203,192,235]*/
    --background-color:#EBE8F7;     /*[235,232,247]*/
    --border-color: #836AD1;        /*[131,106,209]*/
    
}

#login_form_alert{
display: none;    
}

#login_form_frame{
    max-width:400px;
    margin: 30px auto;
    border: 1px solid rgb(131,106,209,0.4);
    border-right-color: rgb(131,106,209,0.6);
     border-bottom-color: rgb(131,106,209,0.6);
    border-radius: 10px;
    box-shadow: 8px 8px 5px var(--background-color);
    padding: 30px 30px;
}

h1,small{
    color: var(--element-color);
    font-family: Century Gothic; 
}

h1{
    font-weight: bold;
}


/*Label styling*/
#login_form label{
	color: var(--element-color);
	font-family: Century Gothic;
	font-weight: bold;
}

/* Input field styling*/
#login_form input, #login_form button{
    color: var(--element-color);
	font-family: Century Gothic;
	border:  2px solid var(--border-color);
}

#login_form input:hover, #login_form button:hover{
	background-color: rgb(203,192,235,0.4);;
	border:  2px solid var(--border-color);
}

#login_form input:focus, #login_form button:focus{
	box-shadow: none;
}

#login_form input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--element-color);
  opacity: 1; /* Firefox */
}

#login_form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--element-color);
}

#login_form input::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--element-color);
}

/*link styling*/
a{
	color: var(--element-color);
	text-decoration: none;
}

a:hover{
	color: var(--border-color);
	text-decoration: none;
}