:root{
    --element-color:#8338D1;        /*[131,56,209]*/
    --selection-color:#CBC0EB;      /*[203,192,235]*/
    --background-color:#EBE8F7;     /*[235,232,247]*/
    --border-color: #836AD1;        /*[131,106,209]*/

}

#upload_library_content_form_alert{
    /*display:none;*/
    position: -webkit-sticky;
    position: sticky;
    top: 5px;
    z-index: 1;
}

#upload_library_content_form_frame{
    max-width:750px;
    margin:30px auto;
    border: 1px solid rgb(131,106,209,0.4);
    border-right-color: rgb(131,106,209,0.6);
    border-bottom-color: rgb(131,106,209,0.6);
    border-radius: 10px;
    box-shadow: 8px 8px 5px var(--background-color);
    padding: 20px 30px 5px 30px;
}

h1{
    color: var(--element-color);
    font-family: Century Gothic; 
    font-weight: bold;
}

small{
    color: var(--element-color);
    font-family: Century Gothic; 
}

#upload_library_content_form{
    margin-top: 20px;
}

#upload_library_content_form label{
    color: var(--element-color);
    font-family: Century Gothic;
    font-weight: bold;
}
#upload_library_content_form label:after{
    content: " :";
    color: var(--element-color);
    font-family: Century Gothic;
    font-weight: bold;
}

#upload_library_content_form .col-md-4,#upload_library_content_form .col-sm-4{
    text-align: right;
}

#upload_library_content_form .col-md-12,#upload_library_content_form .col-sm-12{
    text-align: right;
}


/* Input field styling*/


#upload_library_content_form input, #upload_library_content_form button, #upload_library_content_form select, #upload_library_content_form a{
    color: var(--element-color);
    font-family: Century Gothic;
    border:  2px solid var(--border-color);
    margin-bottom: 5px;
}

#upload_library_content_form input:hover, #upload_library_content_form button:hover,#upload_library_content_form select:hover, #upload_library_content_form a:hover{
    background-color: rgb(203,192,235,0.4);;
    border:  2px solid var(--border-color);
}

#upload_library_content_form input:focus, #upload_library_content_form button:focus,#upload_library_content_form select:focus, #upload_library_content_form a:focus{
    box-shadow: none;
}

#upload_library_content_form input::placeholder,#upload_library_content_form textarea::placeholder  { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--element-color);
    opacity: 1; /* Firefox */
}

#upload_library_content_form input:-ms-input-placeholder,#upload_library_content_form textarea:-ms-input-placeholder{ /* Internet Explorer 10-11 */
    color: var(--element-color);
}

#upload_library_content_form input::-ms-input-placeholder ,#upload_library_content_form textarea::-ms-input-placeholder{ /* Microsoft Edge */
    color: var(--element-color);
}


#upload_library_content_form a{
    color: var(--element-color);
    text-decoration: none;
    padding-left: 8px;
    padding-right: 8px;
}

#upload_library_content_form a:hover{
    color: var(--element-color);
    text-decoration: none;
}



